.me {
    background-color: #ddd;
    color: #333;
    width: 875px;
    height: 328px;
    margin: 0px auto;
    border: 3px solid #ddd;
    display: flex;
    flex-direction: row;
}

.selfie {
    margin: 7px;
    height: 310px;
    width: 250px;
    border-radius: 25px;
}

.about_me {
    height: 310px;
    margin: 7px;
    text-align: justify;
    font-size: 22px;
}

.about_me_top_and_bottom {
    background-color: #333;
    color: #ddd;
    text-align: center;
    margin: 0px;
}

#about_me_title {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#about_me_text {
    margin: 0;
    padding: 7px;
    height: 256px;
    border: 3px solid #333;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #333;
    color: #ddd;
    width: 875px;
    margin: 0px auto;
    border: 3px solid #ddd;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 30px;
    padding: 7px 0px;
}

.links a {
    color: inherit;
    text-decoration: none;
    padding: 0px 5px;
    margin: 0px;
}

.links div:hover {
    color: white;
}