#me {
    background-color: #ddd;
    color: #333;
    max-width: 1250px;
    height: 510px;
    margin: 0px auto;
    border: 3px solid #ddd;
}

#me img {
    border: 1px solid #333;
    margin: 30px 30px 0px 30px;
    height: 450px;
    border-radius: 20px;
}

#about_me {
    margin: 30px 30px 0px 30px;
    height: 450px;
    text-align: center;
    font-size: 25px;
}

#links {
    clear: left;
    background-color: #333;
    color: #ddd;
    max-width: 1250px;
    margin: 0px auto;
    border: 3px solid #ddd;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 30px;
    padding: 7px 0px;
}

#links a {
    color: inherit;
    text-decoration: none;
    padding: 0px 5px;
    margin: 0px;
}