/* Adds the title containers. */
.title {
    background-color: #333;
    color: #ddd;
    max-width: 1250px;
    margin: 0px auto;
    border-right: 3px solid #ddd;
    border-left: 3px solid #ddd;
    font-size: 30px;
    text-align: center;
    padding: 7px 0px;
}

/* Adjusts the text of the titles. */
.title p {
    font-size: 30px;
    color: inherit;
    margin: 0px;
}

/* Adds the description containers. */
.description {
    background-color: #ddd;
    color: #333;
    max-width: 1250px;
    margin: 0px auto;
    border-right: 3px solid #ddd;
    border-left: 3px solid #ddd;
    font-size: 30px;
    padding: 7px 0px;
}

/* Adjusts the text of the descriptions. */
.description p {
    font-size: 25px;
    text-indent: 48px;
    color: inherit;
    padding: 0px 30px;
    margin: 0px;
}

/* Adjusts the text of the unordered lists. */
.description ul {
    color: inherit;
    margin: 0px 30px;
    font-size: 25px;
}

/* Adjusts the text of the presentations content. */
.description a {
    color: inherit;
    text-decoration: none;
    padding: 0px 5px;
}

/* Adds the progress log content container. */
.progress_log_content {
    background-color: #ddd;
    color: #333;
    max-width: 1250px;
    margin: 0px auto;
    border-right: 3px solid #ddd;
    border-left: 3px solid #ddd;
    font-size: 30px;
    padding: 0px;
}

/* Adjusts the text of the progress log content. */
.progress_log_content p {
    font-size: 25px;
    text-indent: 48px;
    color: inherit;
    padding: 0px 30px;
    margin: 0px 7px;
}

/* Styles the tabs. */
.tab {
    overflow: hidden;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/* Styles the buttons that are used to open the tabs content. */
.tab button {
    background-color: #333;
    color: #ddd;
    cursor: pointer;
    transition: 0.1s;
    font-size: 20px;
    margin: 0px 0px 7px 0px;
    padding: 7px 28px;
    outline: none;
}

/* Changes the background color of the buttons on hover. */
.tab button:hover {
    color: white;
}

/* Creates an active/current tablink class. */
.tab button.active {
    background-color: #333;
    text-decoration: underline;
}

/* Styles the tabs content and hides it by default. */
.tabcontent {
    display: none;
    padding: 7px 0px;
}

/* Adds the nsf message container. */
.nsf {
    background-color: #333;
    color: #ddd;
    max-width: 1250px;
    margin: 0px auto;
    border-right: 3px solid #ddd;
    border-left: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    font-size: 30px;
    text-align: center;
    padding: 7px 0px 0px 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* Adjusts the text of the nsf message. */
.nsf p {
    font-size: 30px;
    color: inherit;
    margin: 0px;
}